<% unless tracks.empty? %>
  <div class="col size1of2">
    <div class="cell">
      <div class="fatty">
        <%= title %>
      </div>
      <% tracks.each do |track| %>
        <%= render :partial => 'tracks/show', :locals => { :track => track, :readonly => readonly } %>
      <% end %>
    </div>
  </div>
<% end %>
