<h1>Listing tracks</h1>

<!-- TDOO move to actions -->
<div class="col sizefill">
  <%= link_to 'New Track', new_track_path %>
</div>

<%= render :partial => 'list', :locals => {:tracks => @my_tracks, :title => "My tracks"} %>
<%= render :partial => 'list', :locals => {:tracks => @friends_tracks, :title => "My friends' tracks", :readonly => true} %>
