<span class="icon icon-user"></span>
<% if user == current_user %>
  <%= link_to user.name, :controller => 'users', :action => 'index' %>
<% else %>
  <%= link_to user.name, :controller => 'users', :action => 'show', :name => user.name %>
<% end %>
