.olControlPanZoomBar {
    top: 50px !important;
    opacity:0.50;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}
.olControlPanZoomBar:hover {
    top: 50px !important;
    opacity:0.75;
    filter:alpha(opacity=75); /* For IE8 and earlier */
}